body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}


.nor-brand {
  margin: 0 15px;
  width: 40px;
  height: 40px;
}


#aboveMain {
  height: 70px;
}

#main {
  position: relative;
}

#aboveContactForm {
  height: 70px;
}

#contactForm {
  position: relative;
}


  #aboveAbout {
    height: 70px;
  }

#about {
  position: relative;
}

#aboveHistory {
  height: 70px;
}

#history {
  position: relative;
}

#aboveJobSeekers {
  height: 70px;
}

#jobSeekers {
  position: relative;
}

#aboveAvailableJobs {
  height: 70px;
}


#availableJobs {
  position: relative;
}


  #aboveDirectory {
    height: 70px;
  }

#directory {
  position: relative;
}
