body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}


.nor-brand {
  margin: 0 15px;
  width: 40px;
  height: 40px;
}


.uppercase {
  text-transform: uppercase;
}

#aboveLocalSearch {
  height: 70px;
}

#aboveMain {
  height: 70px;
}

#main {
  position: relative;
}

#aboveContactForm {
  height: 70px;
}

#contactForm {
  position: relative;
}


#aboveAbout {
  height: 70px;
}

#about {
  position: relative;
}

#aboveHistory {
  height: 70px;
}

#history {
  position: relative;
}

#aboveJobSeekers {
  height: 70px;
}

#jobSeekers {
  position: relative;
}

#aboveAvailableJobs {
  height: 70px;
}


#availableJobs {
  position: relative;
}


#aboveDirectory {
  height: 70px;
}

#directory {
  position: relative;
}

/* Map styling */

/* Color schemes */

.bg-clr-red {
  background-color: #e51c237d;
  color: #fafafa;
}

.bg-clr-orange {
  background-color: #B2BEB5;
  color: #000;
}

.bg-clr-white {
  background-color: #fafafacf;
}

.bg-clr-dark {
  background-color: #888383d4;
  color: black;
}


/* Code adapted from https://stackoverflow.com/a/43058483 to fix scaling issues on iOS devices */

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

body:after {
  content: "";
  position: fixed;
  /* stretch a fixed position to the whole screen */
  top: 0;
  height: 100vh;
  /* fix for mobile browser address bar appearing disappearing */
  left: 0;
  right: 0;
  z-index: -2;
  /* needed to keep in the background */
  background: url("../images/citybackground.jpg") center center;
  background-size: cover;
}

/* Navigation bar styling */

/* Map area */

.col-form-label,
.form-control {
  color: #000;
}

#city:focus,
#attractionSelector:focus {
  -webkit-box-shadow: inset 0 -2px 0 #fafafa;
  box-shadow: inset 0 -2px 0 #fafafa;
}

#map {
  height: 60vh !important;
  width: 60%;
}

/* Table styling */

.table th {
  border: 0px;
}

.table th,
.table td {
  padding: 6px 3px 6px 3px;
  background: #fafafa00;
  color: #fafafa;
}

.table-light {
  background: #fafafa00;
}

.table-link {
  color: #fafafa;
  font-weight: bolder;
  font-size: 16px;
}

.table-link:hover {
  color: #fafafa;
  font-weight: bolder;
  text-decoration: none;
}
